[submodule "public/navigator-hugo"]
	path = public/navigator-hugo
	url = https://github.com/themefisher/navigator-hugo.git
[submodule "public/themes/navigator-hugo"]
	path = public/themes/navigator-hugo
	url = https://github.com/themefisher/navigator-hugo.git
[submodule "examples"]
	path = examples
	url = https://github.com/EffectOrientedProgramming/examples
