/target/
/project/project/
/project/target/
.bsp/
.idea/
*.pyc
myproject-docs/
.bloop/
.metals/
.vscode/
*~
project/.bloop/
project/metals.sbt

/manuscript/
.env
cs.exe
/Examples/src/main/scala/*.scala
/*/target/
/MdToSourcePlugin/project/target/
/MdToSourcePlugin/project/project/
