{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <p>
                Put book cover image here
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Params.hero.heading }}
                    <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.hero.description }}
                    <p>{{ . }}</p>
                    {{ end }}
                    {{ if .Site.Params.hero.button }}
                    <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                        <li class="list-inline-item">
                            <a href="{{ with .Site.Params.hero.btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main">{{ with .Site.Params.hero.btnText }}{{.}}{{ end }}</a>
                        </li>
                    </ul>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
