@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
    display: inline;
    top: 0%;
    /*position: relative;*/
    /*white-space: nowrap;*/

}
.popover-container {
    display: inline;
}